div.menu
{
	margin-top: 0px !important;
	margin-right: 1px !important;
	margin-left: 1px !important;
}
div.column
{
	padding-left: 20px !important;
	padding-right: 20px !important;
}
form.segment.hp
{
	
	margin-right: 300px !important;
	margin-left: 300px !important;
}
body
{
	background-color: #eee;
}
div.menu.admin
{
	margin-left: 6% !important;
}

h2.table-title
{
	margin-left: 10px !important;
}
th,td
{
	font-size: 12px !important;
}